<% layout('layouts/boilerplate') -%>
<div>
    <img class="profileImage" src="<%= currentUser.image.path %>" alt="<%= currentUser.username %>"> <h1> <%= currentUser.username %></h1>

</div>
<p>Recent Post</p>
 
<% posts.forEach((post)=>{ %>
<div>
    <p><a href="post/<%=post.id%>"><%=post.title%></a></p>
</div>
<%})%>
<p>Update Profile</p>
<form method="POST" action="/profile?_method=PUT" id="updateProfileForm" style="display:flex; flex-direction:column;" enctype="multipart/form-data">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" id="username" value="<%=currentUser.username%>" required autofocus>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="email" id="email" value="<%=currentUser.email%>" required >
    <label for="profilePic">Profile Picture</label>
    <input type="file" name="image" placeholder="profilePic" id="profilePic" value=""  autofocus>

    <label for="currentPassword">Current Password</label>
   <input type="password" name="currentPassword" id="currentPassword"  placeholder="Current Password" required>
   <label for="newPassword"> New Password</label>
   <input type="password" name="newPassword" id="newPassword"  placeholder="New Password" >
   <label for="confirmPassword"> Password Confirmation</label>
   <input type="password" name="confirmPassword" id="confirmPassword"  placeholder="Confirm Password" >
  <div id="validationMessage"></div>
   <button>Update</button>
</form>
</div>

<script src="/javascripts/profile.js"></script>
