<h1>Thjis is index</h1>
<%if(section){ %>
<% for (show  of section){ %>
<h2>Section: <%= show.sectionTitle %></h2>  
<h2>Number of Users: <%= show.totalUsersInSection %></h2>
<h2>Guest: <%= show.totalGuest %></h2>
<h2>Females: <%= show.activeFemales %></h2>
<h2>Males: <%= show.activeMales %></h2>
<h2>Males: <%= show.Time %></h2>

<%}}%>



