<form action="/post" method="GET">
<fieldset>
    <legend> Search </legend>
    <label for="search">
     Search
    </label>
    <input type="text" id="search" name="search" placeholder="Search" value="<%= query.search%>">
</fieldset>

<fieldset>
    <div>
        <label for="location" >location</label>
        <input type="text" id="location" name="location" placeholder="  Address or Zipcode " value="<%= query.location%>">
        <small><a href="#">Use my Location</a></small>
    </div>
    <legend> Distance (miles)</legend>
    <div>
        <label for="distance25" >Distance 25</label>
        <input type="radio" id="distance25" name="distance" value="25" <%= query.distance === "25"? "checked" : " " %>>
    </div>
    <div>
        <label for="distance50" >Distance 50</label>
        <input type="radio" id="distance50" name="distance"  value="50" <%= query.distance === "50"? "checked" : " " %>>
    
    </div>
    <div>
        <label for="distance100" >Distance 100</label>
        <input type="radio" id="distance100" name="distance"  value="100" <%= query.distance === "100"? "checked" : " " %>>
    
    </div>
    <div>
        <a href="#" id="clear_distance">Clear </a>
    </div>
</fieldset>


<fieldset>
    <legend>Price</legend>
    <label for="min">Min</label>
    <input type="number" id="min" name="price[min]" min="0" max="10000" step="1" placeholder="Min" value="<%= query.price ? query.price.min : '' %>">

    <label for="max">Max</label>
    <input type="number" id="max" name="price[max]" min="0" max="10000" step="1" step="1" placeholder="Max" value="<%= query.price ? query.price.max : '' %>">
</fieldset>

<fieldset>
    <legend>Rating</legend>
    <input type="checkbox" id="zero-stars" name="avgRating[]" value="0" <%= query.avgRating && query.avgRating.includes('0') ? 'checked' : '' %>>
    <label for="zero-stars">0 stars</label><br>
    <input type="checkbox" id="one-star" name="avgRating[]" value="1" <%= query.avgRating && query.avgRating.includes('1') ? 'checked' : '' %>>
    <label for="one-star">1 star</label><br>
    <input type="checkbox" id="two-stars" name="avgRating[]" value="2" <%= query.avgRating && query.avgRating.includes('2') ? 'checked' : '' %>>
    <label for="two-stars">2 stars</label><br>
    <input type="checkbox" id="three-stars" name="avgRating[]" value="3" <%= query.avgRating && query.avgRating.includes('3') ? 'checked' : '' %>>
    <label for="three-stars">3 stars</label><br>
    <input type="checkbox" id="four-stars" name="avgRating[]" value="4" <%= query.avgRating && query.avgRating.includes('4') ? 'checked' : '' %>>
    <label for="four-stars">4 stars</label><br>
    <input type="checkbox" id="five-stars" name="avgRating[]" value="5" <%= query.avgRating && query.avgRating.includes('5') ? 'checked' : '' %>>
    <label for="five-stars">5 stars</label>
</fieldset>
<div>
    <a href="/posts">Reset Form</a>
</div>
<div>
    <button>
        Submit
    </button>
</div>
</form>